<!DOCTYPE html>
<html lang="en">
  <%- include ../../layout/head.ejs %>
  <body class="container">
    <%- include('../../layout/nav.ejs') %>
    <main>
          <%- include('./detail.ejs', {book: book}) %>
    </main>
    <%- include ../../layout/footer.ejs %>
  </body>
</html>