<form action="/update" method="post">
  <label for="title">
      <span>Title</span>
      <input class="" type="radio" name="searchType" value="title" required>
  </label>

  <label for="author">
      <span>Author</span>
      <input class="" type="radio" name="searchType" value="author" required>
  </label>

  <label for="isbn">
      <span>ISBN</span>
      <input class="" type="radio" name="searchType" value="author" required>
  </label>

  <label for="image">
      <span>Image</span>
      <input class="" type="radio" name="searchType" value="author" required>
  </label>

  <label for="description">
      <span>Description</span>
      <input class="" type="radio" name="searchType" value="author" required>
  </label>

  <label for="bookshelf">
      <span>BookShelt</span>
      <select>
        <option>Favorites</option>
        <option>Other</option>
      </select>
  </label>
  <button id="update-btn">Update</button>
</form>