<form action="/searches" method="post">
  <input id="search-input" type="text" name="search" placeholder="Enter Book Title or Author">

  <label for="title">
      <span>Title</span>
      <input class="" type="radio" name="searchType" value="title" required>
  </label>

  <label for="author">
      <span>Author</span>
      <input class="" type="radio" name="searchType" value="author" required>
  </label>
  <button id="search-btn">Search the Google Books API</button>
</form>