<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Application</title>
    <link rel="stylesheet" type="text/css" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
</head>
<body class="container">
<header>
    <%- include ../layout/nav.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
    
    <form action="/search" method="get">
        <legend>Search For Book</legend>
        <label>Book
            <input type="text" name="search">
        </label>
        <button>Search</button>
    </form>

</main>

<footer>
  
</footer>

</body>
</html>