<head>
    <title>Book Application</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/form.css"/>
</head>