<nav id="nav" role='navigation'>
    <h1 id="title">Book Shelf</h1>
    <p id="subtitle">Create your Collection</p>
    <div id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul id="menu" class="hidden">
        <a href="/">
            <li>Search</li>
        </a>
        <a href="/saved">
            <li>Collection</li>
        </a>
    </ul>

</nav>