<nav role='navigation'>
  <h3>Best Books!</h3>
    <div id="menuToggle">
  
      <span></span>
      <span></span>
      <span></span>

      </div>
  
      <ul id="menu" class="hidden">
        <a href="."><li>My Books</li></a>
        <a href="/searches"><li>Search</li></a>
     
  
      </ul>

  </nav>