<nav role='navigation'>
    <div class="jumbotron">
        <h1>Book Shelf : Library of Books</h1>
        <p>Search and a Make Collection</p>
    </div>
    <div id="menuToggle">
  
      <span></span>
      <span></span>
      <span></span>

      </div>
  
      <ul id="menu" class="hidden">
        <a href="."><li>My Books</li></a>
        <!-- <a href="/searches"><li>Search</li></a> -->
      </ul>

  </nav>